:root {
  --txt-font: 'Rubik', sans-serif; /*font for normal text*/
  --txt-header: 'Merriweather', serif; /*font for titles*/
  --txt-color: #fff;
}

html, body {
 margin: 0;
 padding: 0;
 overflow-x: hidden;
 scroll-behavior: smooth;
}

/*Header style*/

#header {
  background-image: url(background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  color: var(--txt-color);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-shadow: 1px 2px 2px 5px #211a23;
}

#nav-bar {
  margin:0;
  padding: 15px 0 10px;
  font-family: var(--txt-font);
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  color var(--txt-color);
  text-decoration: none;
  letter-spacing: 1px;}
a:link {color:var(--txt-color)}
a:visited {color:var(--txt-color)}
a:hover {color:var(--txt-color)}
a:active {color:var(--txt-color)}


#profile-name {
  padding: 8rem 2rem 10rem;
  font-family: var(--txt-header);
  animation: flipinx 8s ease 0s infinite normal;
}

#profile-name h1 {
  font-size:  calc(40px + 2.25vw);
  letter-spacing: 5px;
}


@keyframes flipinx {
0%{ opacity: 0; transform:rotateX(90deg); }
40%{ transform: rotateX(-10deg); }
70%{ transform: rotateX(10deg); }
100%{ opacity: 1; transform:rotateX(0deg); }
}

/*About me styles*/

#about-me {
  text-align: center;
  padding: 5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
  "about-me about-me"
  "about-txt my-photo";
}

 h2 {
  font-family: var(--txt-header);
  font-size: calc(20px + 1.5vw);
letter-spacing: 2px;
grid-area: about-me;
text-transform: uppercase;
text-align: center;
}

#about-me .about-txt {
  font-family: var(--txt-font);
  grid-area: about-txt;
  padding: 5%;
}

.about-txt > * {
  margin: 2rem
}

#about-me .my-photo {
  grid-area: my-photo;
  width: 100%;
  text-align: center;
}

#about-me img {
  max-width: 50%;
  position: relative;
  top: 10%;
}

@media (max-width: 850px) {
  #about-me {
    grid-template-areas:
    "about-me about-me"
    "my-photo my-photo"
    "about-txt about-txt";

  }

  #about-me img {
    left:2%;
    width: 25%;
  }

  .about-txt > * {
    margin: 1rem;
    font-size: small;
  }
  }
}
@media (max-width: 600px) {
  #about-me {
    padding-left: 10px;
    padding-right: 10px;
  }

}


/* Skills style*/

#skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  grid-auto-rows: auto;
  grid-gap: 5px;
  background-color: #030100;
  color: var(--txt-color);
  text-align: center;
  padding: 7%;
  grid-row-gap: 50px;
}

#skills > * {
  box-shadow: 0px 0px 3px 3px #323232;
}
#skills p {
  font-size: calc(12px + 1vw);
  font-family: var(--txt-header);
  margin-bottom: 1em;
  letter-spacing: 1px;
}

hr {
  margin: 1.2em
}

 .platform-box {
   text-align: center;
width: 85%;
padding: 1rem .50rem;
margin: auto;
 }

.platform-box > div {
  width: calc(100% / 4);
  display: inline-block;
  margin: auto;
  padding: 1rem 2.5rem;
}



.platform-box img {
  width: 100%;
  height:100%;
  object-fit: fill;
  box-shadow: 0px 0px 5px 5px #3a3a3a;
}

@media (max-width: 550px) {

  .platform-box {
    width: 100%;
  }

}


 /*basic knowledge box style*/

.basic-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, auto));

  grid-row-gap: : 15px;
  grid-auto-rows: auto;
  padding: 20px;
}

.basic-card div {
  max-width: 100%;
}

.basic-card img {
  max-width: 50%;
  object-fit: contain;
}

/*Contact me style*/

#contact-me {
  padding:7%;
}


form {
  box-shadow: 0px 0px 5px 2px gray;
  padding: 2vw;
  width: 50%;
  margin: 15px auto;
}

form > * {
  display: block;
}

form label {
  padding-left:5px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px auto 10px;
  font-family: var(--txt-header);
}

form input, form textarea {
  margin-bottom: 30px;
  width:90%;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--txt-font);
  letter-spacing: 1px;
  outline: none;
}

#submit {
  width: 100%;
  padding: 3%;
  font-family: var(--txt-font);
  font-size: 1em;
  letter-spacing: 1px;
  background: #1fae51;
  border: none;
  margin: 10px auto 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 2px #157C39;
}

@media (max-width: 800px) {
  form {
    width:90%;
  }

}

/*footer */

footer{
  text-align: center;
  font-family: var(--txt-font);
  background-image: url(background.jpg);
  color: var(--txt-color);
  padding: 1%;
}


footer p{
  letter-spacing: 1px;
  animation: flipinx 8s ease 0s infinite normal;
}
